<header class="site-header">

    <style type="text/css">
        #canvasSection { position: absolute; width: 100%; height: 200px; z-index: -1; background-color: #ffffff;}
    </style>

    <script type="text/javascript">
        var cn;
        //= document.getElementById('cw');
        var c;
        var u = 10;
        const m = {
            x: innerWidth / 2,
            y: innerHeight * 2
        };

        var earth = new Image();
        earth.src = 'https://mdn.mozillademos.org/files/1429/Canvas_earth.png';

        function gc() {
            var s = "0123456789ABCDEF";
            var c = "#";
            for (var i = 0; i < 6; i++) {
                c += s[Math.ceil(Math.random() * 15)]
            }
            return "#99ccff"
        }
        var a = [];
        window.onload = function myfunction() {
            cn = document.getElementById('canvasSection');
            c = cn.getContext('2d');

            for (var i = 0; i < 1; i++) {
                var r = 200;
                var x = Math.random() * (innerWidth - 2 * r) + r;
                var y = Math.random() * (innerHeight - 2 * r) + r;
                var t = new ob(innerWidth / 2,innerHeight / 2,35,"red",Math.random() * 200 + 20,0.0005);
                a.push(t);
            }
            //cn.style.backgroundColor = "#700bc8";

            c.lineWidth = "300";
            c.globalAlpha = 3;
            resize();
            anim()
        }
        window.onresize = function() {

            resize();

        }
        function resize() {
            cn.height = innerHeight;
            cn.width = innerWidth;
            var counter = 0;
            for (var i = 0; i < 38000; i++) {
                var r = 200;
                var x = (Math.random() * (1 - 0.8) + 0.8).toFixed(4) * (innerWidth - 2 * r) + r;
                var y = (Math.random() * (1 - 0.8) + 0.8).toFixed(4) * (innerHeight - 2 * r) + r;
                if(counter >= 0) {
                    a[i] = new ob(1, 1, 50, gc(), Math.random() * 5 + 200, 0.0005);
                    counter++;
                }
                if(counter > 1000){
                    counter++
                    a[i] = new ob(1, 1, 50, "#ffffff", Math.random() * 3 + 200, 0.0005);
                }
                if(counter > 1400)
                {
                    counter = 0;
                }
            }
            //  a[0] = new ob(innerWidth / 2, innerHeight / 2, 40, "red", 0.05, 0.05);
            //a[0].dr();
        }
        function ob(x, y, r, cc, o, s) {
            this.x = x;
            this.y = y;
            this.r = r;
            this.cc = cc;
            this.theta = Math.random() * Math.PI * 2;
            this.s = s;
            this.o = o;
            this.t = (Math.random() * (0.7 - 0.5) + 0.5).toFixed(4) * innerHeight * 2;

            this.dr = function() {
                const ls = {
                    x: this.x,
                    y: this.y
                };
                this.theta += this.s;
                this.x = m.x + Math.cos(this.theta) * this.t;
                this.y = m.y + Math.sin(this.theta) * this.t;
                c.beginPath();
                //c.lineWidth = this.r;
                ctx.moveTo(20, 20);
                ctx.quadraticCurveTo(0, -100, 800, 0);
                c.strokeStyle = this.cc;
                c.fillStyle = this.cc;
                c.fill();
                c.stroke();
                c.closePath();

            }
        }
        function anim() {
            requestAnimationFrame(anim);
            var my_gradient = c.createLinearGradient(0, 0, 0, 170);
            my_gradient.addColorStop(0, "black");
            my_gradient.addColorStop(1, "white");
            c.fillStyle = my_gradient;
            c.lineJoin = "round";
            c.fillRect(0, 0, cn.width, cn.height);
            a.forEach(function(e, i) {
                e.dr();
            });
        }
    </script>

    <canvas id="canvasSection">Error, canvas no supported</canvas>
    <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        {%- if titles_size > 0 -%}
        <nav class="site-nav">
            <input type="checkbox" id="nav-trigger" class="nav-trigger" />
            <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
            </label>

            <div class="trigger">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {%- endif -%}
                {%- endfor -%}
            </div>
        </nav>
        {%- endif -%}
    </div>
</header>