<header class="site-header">

    <style type="text/css">
        #canvasSection { position: absolute; width: 100%; height: 200px; z-index: -1; background-color: #ffffff;}
    </style>

    <script type="text/javascript">
        var circle = 0;
        var movingBall = 0;
        var movingBall2 = 0;
        var movingBall3 = 0;
        var movingBall4 = 0;
        var movingBall5 = 0;
        var movingBallDelay = 240;
        var ballStep = 30;

        function init() {
            window.requestAnimationFrame(draw);
        }

        function draw()
        {
            var canvas = document.getElementById("canvasSection");
            var height = canvas.getBoundingClientRect().height;
            var width = canvas.getBoundingClientRect().width;
            var radius = height/4;
            var v_endBoundary = width + radius;
            canvas.setAttribute('width', width);
            canvas.setAttribute('height', height);

            var ctx = canvas.getContext('2d');

            ctx.clearRect(0,0, width, height);
            ctx.beginPath();
            ctx.arc(movingBall, radius*2, radius, 0, 2 * Math.PI, true);
            ctx.closePath();
            ctx.fillStyle = "rgba(177, 177, 177, 1)";
            ctx.fill();
            ctx.save();

            ctx.beginPath();
            ctx.arc(movingBall2 - movingBallDelay, radius*2, radius, 0, 2 * Math.PI, true);
            ctx.closePath();
            ctx.fillStyle = "rgba(177, 177, 177, 0.7)";
            ctx.fill();
            ctx.save();

            ctx.beginPath();
            ctx.arc(movingBall3 - movingBallDelay*2, radius*2, radius, 0, 2 * Math.PI, true);
            ctx.closePath();
            ctx.fillStyle = "rgba(177, 177, 177, 0.5)";
            ctx.fill();
            ctx.save();

            ctx.beginPath();
            ctx.arc(movingBall4 - movingBallDelay*3, radius*2, radius, 0, 2 * Math.PI, true);
            ctx.closePath();
            ctx.fillStyle = "rgba(177, 177, 177, 0.3)";
            ctx.fill();
            ctx.save();

            ctx.beginPath();
            ctx.arc(movingBall5 - movingBallDelay*4, radius*2, radius, 0, 2 * Math.PI, true);
            ctx.closePath();
            ctx.fillStyle = "rgba(177, 177, 177, 0.1)";
            ctx.fill();
            ctx.save();

            if(circle > 2* Math.PI)
                circle = 0;
            else
                circle = circle + 0.07;

            if(movingBall >= (v_endBoundary + movingBallDelay * 8))
                movingBall = 0;
            else
                movingBall = movingBall + ballStep;

            if(movingBall2 >= (v_endBoundary + movingBallDelay * 7))
                movingBall2 = 0 - movingBallDelay;
            else
                movingBall2 = movingBall2 + ballStep;

            if(movingBall3 >= (v_endBoundary + movingBallDelay * 6))
                movingBall3 = 0 - movingBallDelay * 2;
            else
                movingBall3 = movingBall3 + ballStep;

            if(movingBall4 >= (v_endBoundary + movingBallDelay * 5))
                movingBall4 = 0 - movingBallDelay * 3;
            else
                movingBall4 = movingBall4 + ballStep;

            if(movingBall5 >= (v_endBoundary + movingBallDelay * 4))
                movingBall5 = 0 - movingBallDelay * 4;
            else
                movingBall5 = movingBall5 + ballStep;


            window.requestAnimationFrame(draw);
        }

        init();
    </script>

    <canvas id="canvasSection">Error, canvas no supported</canvas>
    <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        {%- if titles_size > 0 -%}
        <nav class="site-nav">
            <input type="checkbox" id="nav-trigger" class="nav-trigger" />
            <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
            </label>

            <div class="trigger">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {%- endif -%}
                {%- endfor -%}
            </div>
        </nav>
        {%- endif -%}
    </div>
</header>